body {
    background-color: burlywood;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 120px repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
    
.main-header { 
    grid-area: 1 / 1 / 2 / 6;
    border-style: dotted;
    text-align: center;
    text-decoration: lightskyblue;
}


.login-box { 
    grid-area: 1 / 6 / 2 / 7;
    border-style: dotted;
    border-color: grey;
}

.selector { 
    grid-area: 2 / 1 / 3 / 6; 
    border-style: dotted;
}

.selector img {
    max-width: 50%;
    max-height: 50%;
}

.selector1 {
    grid-area: 2 / 1 / 3 / 2;
    border-style: dotted;
}


.selector2 { 
    grid-area: 2 / 2 / 3 / 3; 
    border-style: dotted;
}

.selector3 { 
    grid-area: 2 / 3 / 3 / 4; 
    border-style: dotted;
}

.selector4 { 
    grid-area: 2 / 4 / 3 / 5; 
    border-style: dotted;
}

.selector5 { 
    grid-area: 2 / 5 / 3 / 6; 
    border-style: dotted;
}

.form-div { 
    grid-area: 2 / 6 / 6 / 7;
    border-style: dotted;
}

.kick-container { 
    grid-area: 3 / 1 / 6 / 6; 
    border-style: dotted;
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
}

.kick-container img {
    flex: 0 1 auto;
    height: 150px;
    width: 150px;
    margin-right: 0.5rem;
    cursor: pointer;
}
  
.kick-container img:last-child {
    margin-right: 0;
}

.kick-card {
    border: dotted;
    scroll-padding: 5px;
}
